@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --darker-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-gray);
}

button {
  background-color: transparent;
  font-family: "Alata", sans-serif;
  border: 0;
  color: var(--white);
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.header nav {
  display: none;
}

.header .menu-btn {
  padding: 20px;
  cursor: pointer;
}

.header .menu-btn .bar {
  width: 35px;
  height: 3px;
  background-color: var(--white);
  margin: 0 0 5px;
}

/* Showtime Component */
.showcase {
  background: url("./images/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.showcase .overlay {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 20px;
}

.showcase .overlay h1 {
  color: var(--white);
  font-size: 4.2rem;
  line-height: 1.1;
  border: 1px solid var(--white);
  padding: 20px;
}

/* Interactive Component */
.interactive {
  padding: 50px 20px;
  text-align: center;
}

.interactive-text {
  padding: 20px 50px;
}

.interactive .interactive-text h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
}
