@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --darker-gray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  text-align: center;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--dark-gray);
}

button {
  background-color: transparent;
  font-family: "Alata", sans-serif;
  border: 0;
  color: var(--white);
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.header nav {
  display: none;
}

.header .menu-btn {
  padding: 20px;
  cursor: pointer;
}

.header .menu-btn .bar {
  width: 35px;
  height: 3px;
  background-color: var(--white);
  margin: 0 0 5px;
}

/* Showtime Component */
.showcase {
  background: url("./images/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}

.showcase .overlay {
  display: flex;
  align-items: center;
  height: 700px;
  padding: 0 20px;
}

.showcase .overlay h1 {
  color: var(--white);
  font-size: 4.2rem;
  line-height: 1.1;
  border: 1px solid var(--white);
  padding: 20px;
}

/* Interactive Component */
.interactive {
  padding: 50px 20px;
  text-align: center;
}

.interactive h2 {
  padding-bottom: 25px;
}

.interactive-text {
  padding: 20px 50px;
}

/* Creations Component */
.creations-mobile {
  padding: 0 20px 50px;
}

.creations-mobile h2 {
  padding-bottom: 30px;
}

.creations-mobile article {
  position: relative;
}

.creations-mobile h3 {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 0 0 20px 20px;
  color: var(--white);
  width: 150px;
}

.creations-mobile section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.creations-mobile .btn-container {
  text-align: center;
}

.creations-mobile .btn {
  margin: 50px 0;
  border: 2px solid var(--black);
  width: 160px;
  height: 50px;
  color: var(--black);
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

.creations-mobile .btn:hover {
  background-color: var(--black);
  color: var(--white);
}

/* Footer Component */
.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 50px 0;
  text-align: center;
}

.footer .logo img {
  margin-bottom: 20px;
}

.footer ul {
  margin-bottom: 30px;
}

.footer ul li {
  margin-bottom: 20px;
}

.footer .social {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer .social li {
  margin-bottom: 0;
  margin-right: 25px;
  list-style: none;
  font-size: 2.5rem;
}
